*{
  padding: 0;
  margin: 0;
}
/* header{
  
} */
main{
  font-family: Helvetica;
  /* background-color: bisque; */
  width: 100vw;
  height: 90vh;
}
section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
/* vw é 1% da tela sendo utilizada
% é relativo ao elemento-pai */
  width: 60vw;
  padding: 5vh;
  /* background-color: violet; */
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 5vh;
  width: 30vw;
  /* background-color: thistle; */
}

article{
  margin: 10vh 0;
}